.mainPanel {
  padding:0px;
  
  order:0px;
  background-color:#4a002f;
  width:702px;
  text-align:left;
}

a img {
  border:none;
}

.panelImage {
  position: absolute;
  z-index:1;
  background-position:left top;
  width:400px;
  height:500px;
  background-repeat:no-repeat;
}

.pageBackground {
  position:relative;
  padding:0px;
  border:0px;
  z-index:2;
  background-image:url(../images/body.png);
  background-position:left top;
  width:702px;
  background-repeat:no-repeat;
  min-height:681px;
}

.footerImage {
  position:absolute;
  left: 0%;
  bottom: 0%;
  z-index:3;
  padding:0px;
  border:0px;
  background-image:url(../images/footer.png);
  background-repeat:no-repeat;
  background-position:left bottom;
  width:702px;
  height:10px;
}

.leftPanel {
  padding:0px;
  border:0px;
  float:left;
  width:235px;
}

.bodyPanel {
  padding:10px;
  border:0px;
  min-height:681px;
}

.overlayDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.commonText {
  border:none;
  text-decoration:none;
  font-family:"Gabriola";
  color:#CFCFCF;
}

.subPageTitle {
  font-size:32px;
  text-align:center;
}

.fixedTable {
  table-layout:fixed;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 10;
  padding: 0;
}

.overlayExit {
  position: absolute;
  top: 10px;
  right:0px;
}

.rotate {
  /* Safari */
  -webkit-transform:rotate(-90deg);
  /* Firefox */
  -moz-transform:rotate(-90deg);
  /* IE */
  -ms-transform:rotate(-90deg);
  /* Opera */
  -o-transform:rotate(-90deg);
  /* Internet Explorer */
  filter:progit:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.overlay {
  width: 100%;
  min-height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: url('../images/overlay.png') repeat 0 0;
  display: none;
  text-align: center;
}

.overlayPanel {
  position:relative;
  margin:20px auto;
  width:450px;
}

.overlayPanelBody {
  background: #FFF;
  width:450px;
  font-family:"Gabriola";
  text-align:center;
  overflow:hidden;
}

.overlayPanelTop {
  background: url('../images/overlayPanelTop.png') no-repeat 0 0;
  width:450px;
  height:10px;
  overflow:hidden;
}

.overlayPanelBottom {
  background: url('../images/overlayPanelBottom.png') no-repeat 0 0;
  width:450px;
  height:10px;
  overflow:hidden;
}

.imageFrame {
  margin:10px;
  border-style:solid;
  border-color:#CFCFCF;
  border-width:5px;
}