.mainPanel {
  padding:0px;
  
  order:0px;
  background-color:#4a002f;
  width:702px;
  text-align:left;
}

.panelImage {
  position: absolute;
  z-index:1;
  background-position:left top;
  width:400px;
  height:500px;
  background-repeat:no-repeat;
}

.pageBackground {
  position:relative;
  padding:0px;
  border:0px;
  z-index:2;
  background-image:url(../images/body.png);
  background-position:left top;
  width:702px;
  background-repeat:no-repeat;
}

.footerImage {
  position:absolute;
  bottom: 0%;
  z-index:3;
  padding:0px;
  border:0px;
  background-image:url(../images/footer.png);
  background-repeat:no-repeat;
  background-position:right bottom;
  width:702px;
  height:10px
}

.leftPanel {
  padding:0px;
  border:0px;
  float:left;
  width:235px;
}

.bodyPanel {
  padding:10px;
  border:0px;
  min-height:681px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.commonText {
  border:none;
  text-decoration:none;
  font-family:"Gabriola";
  color:#CFCFCF;
}

.fixedTable {
  table-layout:fixed;
}

.regTileDiv {
  float:left;
  position:relative;
  padding:15px 5px;
  left:8px;
}

.rotate {
  /* Safari */
  -webkit-transform:rotate(-90deg);
  /* Firefox */
  -moz-transform:rotate(-90deg);
  /* IE */
  -ms-transform:rotate(-90deg);
  /* Opera */
  -o-transform:rotate(-90deg);
  /* Internet Explorer */
  filter:progit:DXImageTransform.Microsoft.BasicImage(rotation=3);
}