.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.linkText {
  border:none;
  text-decoration:none;
  font-family:"Gabriola";
  color:#CFCFCF;
}

.rotate {
  /* Safari */
  -webkit-transform:rotate(-90deg);
  /* Firefox */
  -moz-transform:rotate(-90deg);
  /* IE */
  -ms-transform:rotate(-90deg);
  /* Opera */
  -o-transform:rotate(-90deg);
  /* Internet Explorer */
  filter:progit:DXImageTransform.Microsoft.BasicImage(rotation=3);
}