
.regTileDiv {
  float:left;
  position:relative;
  padding:15px 5px 15px 5px;
}

.regTile {
  position:relative;
  background-image:url('../../images/InnerTile.png');
  height:212px;
  width:212px;
  display:block;
  text-align:center;
}

.regOverlay {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: url('../images/overlay.png') repeat 0 0;
  display: none;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 10;
  padding: 0;
}

.regOverlayPanel {
  margin: 20px auto 0 auto;
  width: 450px;
}

.regOverlayPanelPurchase {
  display: none;
}

.overlayPanelTop {
  background: url('../images/overlayPanelTop.png') no-repeat 0 0;
  width:450px;
  height:10px;
  padding:0px;
}

.overlayPanelBody {
  background: #FFF;
  width:450px;
  font-family:"Gabriola";
}

.overlayPanelInfoContainer {
  padding:10px;
}

.overlayButton {
  font-family:"Gabriola";
  text-decoration:none;
  color:#000000;
  text-align:center;
  height:20px;
  width:120px;
  background: url('../images/overlayPanelButton.png') no-repeat 0 0;
}

.overlayPanelLink {
  float:left;
  margin:0px 5px 0px 0px;
}

.overlayPanelBuy {
  float:right;
  margin:0px 0px 0px 5px;
}

.overlayPanelSubmit {
  float:right;
  margin:5px 5px 0px 5px;
}

.overlayPanelBack {
  float:left;
  margin:5px 5px 0px 5px;
}

.overlayPanelText {
  text-align:left;
}

.overlayPanelBottom {
  background: url('../images/overlayPanelBottom.png') no-repeat 0 0;
  width:450px;
  height:10px;
}

.overlayPanelTitle {
  text-align:center;
  font-weight:bold;
  font-size:large;
}

.regBoughtBanner {
  position:absolute;
  top:0;
  padding:15px 5px;
  color:#000000;
  font-weight:bold;
  font-size:large;
}

.purchaseForm {
  background-color:#FFFFFF;
  padding:0;
  margin:0;
}
