
.regTileDiv {
  float:left;
  position:relative;
  padding:15px 5px 15px 5px;
}

.regTile {
  position:relative;
  background-image:url('../../images/InnerTile.png');
  height:212px;
  width:212px;
  display:block;
  text-align:center;
  text-decoration:none;
  color:#4a002f;
}

.regTileWrapper {
  padding:10px;
  width:192px;
  height:192px;
  position:relative;
}

.regTileCaption {
  text-align:center;
  width:100%;
}

.regTileBought {
  position:absolute;
  bottom:0;
  left:5px;
}

.regTilePrice {
  position:absolute;
  bottom:0;
  right:5px;
}

.regOverlay {
  width: 100%;
  min-height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: url('../images/overlay.png') repeat 0 0;
  display: none;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 10;
  padding: 0;
  position: relative;
}

.regOverlayExit {
  position: absolute;
  top: 10px;
  right:0px;
}

.regOverlayPanel {
  position:relative;
  margin: 20px auto 20px auto;
  width: 450px;
}

.regOverlayPanelPurchase {
  display: none;
}

.regOverlayPanelConf {
  display: none;
}

.overlayPanelTop {
  background: url('../images/overlayPanelTop.png') no-repeat 0 0;
  width:450px;
  height:10px;
  overflow:hidden;
}

.overlayPanelBody {
  background: #FFF;
  width:450px;
  font-family:"Gabriola";
}

.overlayPanelInfoContainer {
  margin:10px;
  border: 2px solid;
  float:left;
  position:relative;
  width:130px;
}

.overlayButton {
  font-family:"Gabriola";
  text-align:center;
  height:20px;
  width:120px;
  margin:5px;
  background: url('../images/overlayPanelButton.png') no-repeat 0 0;
}

.overlayButtonLink {
  text-decoration:none;
  color:#000000;
}

.overlayPanelTitle {
  text-align:center;
  font-weight:bold;
  font-size:large;
}

.overlayPanelInfoText {
  height:20px;
  text-align:left;
  padding:0px 0px 0px 10px;
}

.overlayPanelText {
  text-align:left;
  padding:5px;
}

.overlayPanelBottom {
  background: url('../images/overlayPanelBottom.png') no-repeat 0 0;
  width:450px;
  height:10px;
  overflow:hidden;
}

.regBoughtBanner {
  position:absolute;
  top:0;
  padding:15px 5px;
  color:#000000;
  font-weight:bold;
  font-size:large;
}

.purchaseFormDiv {
  padding:0px 20px 0px 175px;
}

.purchaseForm {
  background-color:#FFFFFF;
  text-align:left;
}

.overlayConfHeader {
  font-size:large;
  font-weight:bold;
}

.overlayConfDetails {
  text-align:left;
  padding:10px;
}

.confThumb {
  float:left;
}
