.albumTileDiv {
  float:left;
  position:relative;
  padding:15px 5px 15px 5px;
}

.albumTile {
  position:relative;
  background-image:url('../../images/InnerTile.png');
  height:212px;
  width:212px;
  display:block;
  text-align:center;
  cursor:pointer;
}

.albumThumbnail {
  padding:10px;
}

.albumCaption {
  color:#4a002f;
  text-align:center;
}

.photoOverlayPanel {
  position:relative;
  margin:20px auto;
  width:650px;
}

.photoOverlayPanelBody {
  background: #FFF;
  width:650px;
  font-family:"Gabriola";
  text-align:center;
  overflow:hidden;
}

.photoOverlayPanelTop {
  background: url('../images/overlayPanelTop.png') no-repeat 0 0;
  width:650px;
  height:10px;
  overflow:hidden;
}

.photoOverlayPanelBottom {
  background: url('../images/overlayPanelBottom.png') no-repeat 0 0;
  width:650px;
  height:10px;
  overflow:hidden;
}

.galleryWrapper {
}

.ad-gallery {
  padding:10px 25px;
}

.ad-thumbs {
  position:relative;
  left:0px;
  height:56px;
}

.ad-thumb-list {
  height:56px;
}

.uploadButton {
  position:absolute;
  right:20px;
  top:20px;
  font-family:"Gabriola";
  text-align:center;
  height:20px;
  width:120px;
  margin:5px;
  font-size:16px;
  background: url('../images/buttonBG.png') no-repeat 0 0;
}
.uploadButtonLink {
  text-decoration:none;
  color:#4A002F;
}
